h1, h2 {
    font-family: 'Alfa Slab One', cursive;
}

html {
    scroll-behavior: smooth;
}

footer {
    background-color: azure;
}

.coloresNaomi {
    background-image: linear-gradient(to bottom, #ff0000, #ff4f00, #ff7500, #ff9300, #ffaf00, #ffb441, #ffb963, #ffc082, #ffc6b7, #ffd7e4, #ffedfd, #ffffff);
}

.no-padding {
    padding: 0 !important;
}

/* .container-fluid {
    background-image: linear-gradient(to bottom, #ff0000, #ff4f00, #ff7500, #ff9300, #ffaf00, #ffb441, #ffb963, #ffc082, #ffc6b7, #ffd7e4, #ffedfd, #ffffff);
} */
/* Investigar mas sobre como aplicar una opacidad en un background image o en su defecto mandar todo a la corneta y editar la opacidad de la imagen por mi mismo en photoshop */
/* .p-Background{ */
    /* background: url(../Img/fondoHamburguesa.png) repeat; */
    /* background-size: cover; */
    /* background-attachment: fixed; */
/* } */

.hero {
    width: 75vh;
    max-width: 1920px;
    min-width: 320px;
    margin: auto;
    width: 100%;
    max-height: 1024px;
    color: white;
}

.lista-Novedades {
    margin: 0;
    padding: 0;
    list-style: none;
}

.lista-Novedades li {
    margin: 4px 0;
}

.lista-Novedades li a {
    background-color: #fff;
    font-family:'Alfa Slab One', cursive;
    text-decoration: none;
    font-size: 1.2rem;
    color: #a0a0a0;
    transition: all .2s ease-in-out;
    display: block;
}

.lista-Novedades li a:hover {
    color: blue;
    background-color: #dadada;
}

.lista-Novedades li a img {
    width: 120px;
    height: 50px;
    filter: grayscale();
    transition: all .2 ease-in-out ;
    margin-right: 1rem;
    opacity: 0.7;
}

.lista-Novedades li a:hover img {
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}

.testimonios {
    background-color: #dadada;
    padding-bottom: 4rem !important;
}

.testimonio {
    text-align: center;
    padding: 50px 20px;
}

.staff {
    background-color: #efefef;
}

.mapa iframe {
    width: 100%;
    aspect-ratio: 1.2;
}

.scroll_section {
    scroll-margin-top: 60px;
}
.scroll_section_u {
scroll-padding-top: 60px;
}