img{
    width: 100%;
    height: auto;
}

h1{
    margin: auto;
    display: block;
    text-align: center;
    text-transform: uppercase;
}
h2, p {
    margin: auto;
    display: block;
    text-align: left;
}

div.foto{
    margin: auto;
    display: block;
    width: 750px;
    height: 450px;
}

div.contenedorPersonal {
    margin-top: 500px;
    margin-left: 20px;
}

div.margen{
    margin-top: 10px;
}

.rojo{
    color: red;
    font-size: large;
}
.verde {
    color: green;
    font-size: large;
}
.azul {
    color: blue;
    font-size: large;
}
.fontEpic {
    font-family: fantasy;
}
